<div class="row mt-2">
    <%= f.text_field :ingredient_name, placeholder: "例)豚肉", class: 'col-md-5 mr-2' %>
    <%= f.text_field :quantity, placeholder: "例)100g", class: 'col-md-3 mr-2' %>
    <%= link_to_remove_association '削除', f, class: 'btn btn-secondary col-md-2' %>
</div> 