<div class="container">
    <div class="col-md-11 mx-auto">
        <div class="mt-5">
            <h2 class="font-weight-bold text-center">投稿一覧</h2>
        </div>
        
        <div class="col-md-12 mt-5">
            <div class="d-flex flex-wrap">
                <%= render partial: "recipes", collection: @recipes, as: :recipe %>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <%= paginate @recipes %>
            </div>
        </div>
    </div>
</div>
    
    