<div class="container">
    <div class="col-md-10 mx-auto">
        <div class="mt-5">
            <h2 class="font-weight-bold text-center">
                <%= @category.category_name %>に関する投稿
            </h2>
        </div>
        
         <div class="d-flex flex-warp">
            <% @category_recipes.each do |recipe| %>
                <div>
                    <% if recipe.recipe_image.attached? %> 
                        <%= image_tag recipe.recipe_image.variant(resize: "300x300") %>
                    <% else %>
                        <%= image_tag 'no_image.jpg', :size => "100x100" %>
                    <% end %>
                    <p class="text-center"><%= recipe.recipe_name %></p>
                </div>
            <% end %>
        </div>
        
        <!-- <div class="d-flex justify-content-center mt-5">
            <%#= paginate @recipes %>
        </div> -->
        
    </div>
</div>