<div class="container">
    <div class="col-md-8 mx-auto">
        <div class="text-center">
            <h2>コメント編集</h2>
        </div>
        <div>
           <%= form_with(model:[@recipe, @comment],method: :patch) do |f| %>
                <div class="col-md-8">
                    <h3>コメント</h3>
                </div>
                <div class="form-group">
                    <%= f.text_area :content, row: 3, class: 'col-md-8 text-form' %>
                    <%= f.hidden_field :recipe_id, value: @recipe.id %><br>
                    <%= f.submit '更新', class: 'btn btn-success' %>
                </div>
            <% end %>
        </div>
    </div>
</div>