<div class="container">
    <div class="col-md-10 mx-auto">
        <h1 class="text-center">カテゴリー詳細</h1>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">感染症及び寄生虫症</h3>
            <ul>
                <li>結核</li>
                <li>性感染症</li>
                <li>ウイルス疾患</li>
                <li>ウイルス肝炎</li>
                <li>真菌症</li>
                <li>感染症及び寄生虫症の続発・ 後遺症脳血管疾患（脳梗塞、脳出血、脳血栓等）</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">新生物</h3>
            <ul>
                <li>悪性新生物</li>
                <li>悪性リンパ腫  </li>
                <li>白血病</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">血液及び造血器の疾患並びに 免疫機構の障害</h3>
            <ul>
                <li>貧血</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">内分泌，栄養及び代謝疾患</h3>
            <ul>
                <li>甲状腺障害</li>
                <li>糖尿病</li>
            </ul>
        </div>
        <div>
             <h3 class="border-bottom border-dark font-weight-bold">精神及び行動の障害</h3>
             <ul>
                 <li>認知症</li>
                 <li>精神作用物質使用による精神及び行動の障害</li>
                 <li>統合失調症</li>
                 <li>妄想性障害</li>
                 <li>気分[感情]障害(躁うつ病を含む)</li>
                 <li>神経症性障害</li>
                 <li>ストレス関連障害及び身体表現性障害</li>
                 <li>知的障害<精神遅滞></li>
                 <li>神経系の疾患</li>
                 <li>パーキンソン病</li>
                 <li>アルツハイマー病</li>
                 <li>てんかん</li>
                 <li>脳性麻痺及びその他の麻痺性症候群</li>
                 <li>自律神経系の障害</li>
             </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">眼及び付属器の疾患</h3>
            <ul>
                <li>結膜炎</li>
                <li>白内障</li>
                <li>屈折及び調節の障害</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">耳及び乳様突起の疾患</h3>
            <ul>
                <li>外耳炎</li>
                <li>中耳炎</li>
                <li>メニエール病</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">循環器系の疾患</h3>
            <ul>
                <li>高血圧性疾患</li>
                <li>虚血性心疾患 </li>
                <li>くも膜下出血</li>
                <li>脳梗塞</li>
                <li>脳動脈硬化(症)  </li>
                <li>動脈硬化(症)</li>
                <li>痔核</li>
                <li>低血圧(症)</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">呼吸器系の疾患</h3>
            <ul>
                <li>急性鼻咽頭炎[かぜ]<感冒></li>
                <li>急性咽頭炎及び急性扁桃炎</li>
                <li>肺炎</li>
                <li>急性気管支炎及び急性細気管支炎</li>
                <li>アレルギー性鼻炎</li>
                <li> 慢性副鼻腔炎</li>
                <li>慢性閉塞性肺疾患</li>
                <li>喘息</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">消化器系の疾患</h3>
            <ul>
                <li>う蝕</li>
                <li>歯肉炎及び歯周疾患</li>
                <li>その他の歯及び歯の支持組織の障害</li>
                <li>胃潰瘍及び十二指腸潰瘍</li>
                <li>胃炎及び十二指腸炎</li>
                <li>アルコール性肝疾患</li>
                <li>慢性肝炎(アルコール性のものを除く)</li>
                <li>肝硬変(アルコール性のものを除く)</li>
                <li>胆石症及び胆のう炎</li>
                <li>膵疾患</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">皮膚及び皮下組織の疾患</h3>
            <ul>
                <li>皮膚及び皮下組織の感染症</li>
                <li>皮膚炎及び湿疹</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">筋骨格系及び結合組織の疾患</h3>
            <ul>
                <li>炎症性多発性関節障害</li>
                <li>関節症</li>
                <li>脊椎障害(脊椎症を含む)</li>
                <li>椎間板障害</li>
                <li>頚腕症候群</li>
                <li>腰痛症及び坐骨神経</li>
                <li>肩の傷害<損傷></li>
                <li>骨の密度及び構造の障害</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">腎尿路生殖器系の疾患</h3>
            <ul>
                <li>糸球体疾患及び腎尿細管間質性疾患</li>
                <li>腎不全</li>
                <li>尿路結石症</li>
                <li>前立腺肥大(症)</li>
                <li>その他の男性生殖器の疾患</li>
                <li>月経障害及び閉経周辺期障害</li>
                <li>乳房及びその他の女性生殖器の疾患</li>
            </ul>
        </div>
        <div>
             <h3 class="border-bottom border-dark font-weight-bold">妊娠，分娩及び産じょく</h3>
             <ul>
                 <li>流産</li>
                 <li>妊娠高血圧症候群</li>
                 <li>単胎自然分娩</li>
                 <li class="list-unstyled">周産期に発生した病態 </li>
                 <li>妊娠及び胎児発育に関連する障害</li>
             </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">先天奇形，変形及び染色体異常</h3>
            <ul>
                <li>心臓の先天奇形</li>
                <li>その他の先天奇形変形及び染色体異常</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">損傷，中毒及びその他の外因の影響</h3>
            <ul>
                <li>骨折</li>
                <li>頭蓋内損傷及び内臓の損傷</li>
                <li>熱傷及び腐食</li>
                <li>中毒<食中毒・アルコール中毒等></li>
            </ul>
        </div>
    </div>
</div>