<div class="container">
    <div class="col-md-10 mx-auto">
        <h1 class="text-center">カテゴリー詳細</h1>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">循環器</h3>
            <ul>
                <li>脳血管疾患（脳梗塞、脳出血、脳血栓等）</li>
                <li>冠状動脈の硬化性疾患</li>
                <li>弁膜症</li>
                <li>高血圧症、低血圧症</li>
                <li>抹消循環障害</li>
                <li>不整脈・心房細動</li>
            </ul>
        </div>
        <div>
            <h3 class="border-bottom border-dark font-weight-bold">呼吸器</h3>
        </div>
    </div>
</div>