<div class="container">
    <div class="col-md-6 mx-auto">
        <div class="d-flex justify-content-center mt-5 mb-3">
                <h4 class="text-center">通知</h4>
                <%= link_to notifications_destroy_all_path, method: :delete, data: {confirm: "通知を全て削除しますか？"} do %>
                    <i class="fa-solid fa-trash-can fa-lg"></i>
                <% end %>
        </div>
    </div>
    <% if @notifications.exists? %>
        <%= render @notifications %>
        <%= paginate @notifications %>
    <% else %>
        <p class="text-center">通知はありません</p>
    <% end %>
</div>